[Desktop Entry]
Version=1.0
Name=ncParticleEditor
Comment=Particle editor made with the nCine
TryExec=ncparticleeditor
Exec=ncparticleeditor
Icon=ncparticleeditor
Terminal=false
Type=Application
Categories=Game;
