name: 'Android'

env:
  LIBRARIES_BRANCH: libraries-OS-COMPILER
  NCINE_BRANCH: nCine-BRANCH_NAME-OS-COMPILER
  NCINE_SOURCE_BRANCH: BRANCH_NAME
  DEPLOY_MESSAGE: |
    Push artifact from GitHub Actions build ${{ github.run_number }} with id ${{ github.run_id }}

    - PROJECT_NAME artifact from branch 'BRANCH_NAME' with commit id ${{ github.sha }}

on: [push, workflow_dispatch]

jobs:
  Build:
    strategy:
      fail-fast: false
      matrix:
        ARCH: [armeabi-v7a, arm64-v8a, x86_64]
        BuildType: [Debug, Release]

    runs-on: 'ubuntu-24.04'

    steps:
    - name: 'Checkout Code'
      uses: actions/checkout@v4

    - name: 'Install Build Dependencies'
      run: |
        sudo apt-get update
        sudo apt-get install -y libgl1-mesa-dev libopengl-dev libegl1-mesa-dev libglvnd-dev libxext-dev libxrandr-dev libwayland-dev

    - name: 'Download nCine-libraries, nCine Artifacts, and project data'
      run: |
        OS=linux
        CC=gcc
        BRANCH_NAME=$(git describe --tags --exact-match 2> /dev/null || git symbolic-ref -q --short HEAD || git rev-parse --short HEAD)

        LIBRARIES_BRANCH=`echo $LIBRARIES_BRANCH | sed 's/OS/'"$OS"'/'`
        LIBRARIES_BRANCH=`echo $LIBRARIES_BRANCH | sed 's/COMPILER/'"$CC"'/'`

        cd ..
        git clone https://github.com/nCine/nCine-libraries-artifacts.git
        cd nCine-libraries-artifacts
        git checkout $LIBRARIES_BRANCH
        LIBRARIES_FILE=$(ls -t | head -n 1) && tar xpzf $LIBRARIES_FILE
        mv nCine-external ..

        cd ..
        rm -rf nCine-libraries-artifacts

        NCINE_SOURCE_BRANCH=`echo $NCINE_SOURCE_BRANCH | sed 's/BRANCH_NAME/'"$BRANCH_NAME"'/'`
        NCINE_BRANCH=`echo $NCINE_BRANCH | sed 's/BRANCH_NAME/'"$NCINE_SOURCE_BRANCH"'/'`
        NCINE_BRANCH=`echo $NCINE_BRANCH | sed 's/OS/'"$OS"'/'`
        NCINE_BRANCH=`echo $NCINE_BRANCH | sed 's/COMPILER/'"$CC"'/'`
        git clone https://github.com/nCine/nCine-artifacts.git
        cd nCine-artifacts
        git checkout $NCINE_BRANCH

        NCINE_FILE=$(ls -t nCine-* | head -n 1)
        tar xpzf $NCINE_FILE
        mv "${NCINE_FILE/.tar.gz/}" ../nCine

        cd ..
        rm -rf nCine-artifacts

        git clone https://github.com/$GITHUB_REPOSITORY-data.git

    - name: 'CMake Configuration'
      run: |
        PROJECT_NAME=${GITHUB_REPOSITORY##*/}
        cmake -B ../$PROJECT_NAME-build-${{ matrix.BuildType }} -D CMAKE_BUILD_TYPE=${{ matrix.BuildType }} -D NCPROJECT_NDK_ARCHITECTURES=${{ matrix.ARCH }} -D NCPROJECT_BUILD_ANDROID=ON -D NCPROJECT_ASSEMBLE_APK=ON -D nCine_DIR=$(pwd)/../nCine/lib/cmake/nCine

    - name: 'Gradle Assemble'
      run: |
        PROJECT_NAME=${GITHUB_REPOSITORY##*/}
        export JAVA_HOME=$JAVA_HOME_17_X64
        export MAKEFLAGS="-j $(getconf _NPROCESSORS_ONLN)"

        cd ../$PROJECT_NAME-build-${{ matrix.BuildType }}/android
        gradle assemble${{ matrix.BuildType }} --parallel

    - name: 'Prepare GitHub Actions Artifact'
      run: |
        PROJECT_NAME=${GITHUB_REPOSITORY##*/}
        cd ../$PROJECT_NAME-build-${{ matrix.BuildType }}/android/app/build/outputs/apk

        APK_PATH=$(find . -type f -name '*.apk' | head -n 1)
        APK_NAME=$(basename "$APK_PATH")

        # Generate a JSON manifest file
        MANIFEST="manifest.json"

        SIZE=$(stat -c %s "$APK_PATH")
        MTIME=$(stat -c %y "$APK_PATH")
        MTIME_ISO=$(date -u -d "$MTIME" +"%Y-%m-%dT%H:%M:%SZ")
        SHA256=$(sha256sum "$APK_PATH" | awk '{print $1}')

        cat > "$MANIFEST" <<EOF
        {
          "filename": "$APK_NAME",
          "size": $SIZE,
          "timestamp": "$MTIME_ISO",
          "sha256": "$SHA256",
          "git_revision": "$GITHUB_SHA"
        }
        EOF

        ARTIFACTS_DIR="$GITHUB_WORKSPACE/$PROJECT_NAME-job-artifacts"
        mkdir -p $ARTIFACTS_DIR
        cp -p $APK_PATH $ARTIFACTS_DIR
        cp -p $MANIFEST $ARTIFACTS_DIR

        echo "Contents of the $PROJECT_NAME-job-artifacts directory:"
        ls -l $ARTIFACTS_DIR
        echo "Contents of the manifest file:"
        cat $MANIFEST

    - name: 'Upload GitHub Actions Artifact'
      uses: actions/upload-artifact@v4
      with:
        name: ${{ github.event.repository.name }}-job-artifacts-${{ matrix.ARCH }}-${{ matrix.BuildType }}
        path: ${{ github.event.repository.name }}-job-artifacts/*

  Artifacts:
    needs: Build
    strategy:
      fail-fast: false
      matrix:
        ARCH: [armeabi-v7a, arm64-v8a, x86_64]
        BuildType: [Debug, Release]

    runs-on: 'ubuntu-24.04'
    concurrency:
        group: artifacts-android-${{ matrix.ARCH }}-${{ matrix.BuildType }}
        cancel-in-progress: false

    steps:
    - name: 'Checkout Code'
      uses: actions/checkout@v4

    - name: 'Unshallow Git Repository for Versioning'
      run: |
        git fetch --unshallow || true

    - name: 'Download GitHub Actions Artifact'
      uses: actions/download-artifact@v4
      with:
        name: ${{ github.event.repository.name }}-job-artifacts-${{ matrix.ARCH }}-${{ matrix.BuildType }}
        path: ${{ github.event.repository.name }}-job-artifacts

    - name: 'Push Artifacts'
      env:
        PUBLIC_REPO_TOKEN: ${{ secrets.PUBLIC_REPO_TOKEN }}
      run: |
        git config --global user.email "actions@github.com"
        git config --global user.name "GitHub Actions"

        PROJECT_NAME=${GITHUB_REPOSITORY##*/}
        BRANCH_NAME=$(git describe --tags --exact-match 2> /dev/null || git symbolic-ref -q --short HEAD || git rev-parse --short HEAD)
        DEPLOY_MESSAGE=`sed 's/PROJECT_NAME/'"$PROJECT_NAME"'/' <<< "$DEPLOY_MESSAGE"`
        DEPLOY_MESSAGE=`sed 's/BRANCH_NAME/'"$BRANCH_NAME"'/' <<< "$DEPLOY_MESSAGE"`

        cd $PROJECT_NAME-job-artifacts
        MANIFEST=$(ls manifest*.json)
        APK_FILE=$(jq -r '.filename' "$MANIFEST")

        cd ..
        DEPLOY_BRANCH=$PROJECT_NAME-$BRANCH_NAME-android-${{ matrix.ARCH }}-${{ matrix.BuildType }}
        git clone https://$PUBLIC_REPO_TOKEN@github.com/$GITHUB_REPOSITORY-artifacts.git >/dev/null 2>&1

        cd $PROJECT_NAME-artifacts
        git checkout $DEPLOY_BRANCH || git checkout --orphan $DEPLOY_BRANCH
        git reset
        git clean -f
        git rm * || true
        mv -f ../$PROJECT_NAME-job-artifacts/$MANIFEST .
        mv -f ../$PROJECT_NAME-job-artifacts/$APK_FILE .

        git add $MANIFEST $APK_FILE
        git commit --amend -m "$DEPLOY_MESSAGE" || git commit -m "$DEPLOY_MESSAGE"
        git push --force || git push --set-upstream origin $DEPLOY_BRANCH
